.day-btn {
  border-radius: 0 !important;
}

.orange-background {background-color:#f7991c;}
.button-text {color:#333;}

.day-box {
	border-style: solid;
	padding: 10px;
}

.label-text {
	padding: 10px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:0px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}

.footer {
    background-color: darkgray;
    color: white;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: blue;
}

.center {
    text-align: center;
}

.image-box {
    width:200px;
    margin-left: 10px;
    margin: 0 auto;
}

.image-box img {
    width: 200px;
    height: 200px;
    float: left;
}

.image-box p {
    text-align: center;
}

.float-clear {
    clear: left;
}
